/* ==== General definitions ==== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
	outline: none;
	border: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	/* font-family: 'Noto Sans', sans-serif; */
}

:root {
	--bg-color: #e0e0e0;
	--banner-color: #fafafa;
	--body-color: #eeeeee;
	--detail-color: #fff;
	--shadow-color: #ccc;

	--pink: #ECB4B4;
	--lighter-pink: #fddddd;
	--orange: #ff942f;

	--icon-main: #24283B;
	--icon-ok: #73DACA;
	--icon-bad: #F7768E;

	--border-black: #24283B;

	--img-width: 320px;
	--img-height: 180px;

	--card-height: 280px;
    --card-width: 320px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body {
	height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
.logo {
	font: 2em 'Niconne', cursive;
	color: var(--orange);
	cursor: pointer;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	min-height: 100%;
	background-color: var(--bg-color);
	gap: 4em;

	overflow: hidden;
}

.flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.g-2 {
    gap: 2em;
}

.flex-item {
	flex: 1;
}

.vertical-flex {
	flex-direction: column;
}

.flex-align-items-center {
	align-items: center;
}

.icon-div {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--icon-main);
}

.icon {
	cursor: pointer;
}

.green-hover:hover {
	color: var(--icon-ok);
}

.red-hover:hover {
	color: var(--icon-bad);
}

.light-gray-background {
	background-color: #dbdbdb;
}

.black-border {
	border-top: 2px solid var(--border-black);
	border-bottom: 2px solid var(--border-black);
}

.black-text {
	color: var(--border-black);
}

.margin-r-10 {
	margin-right: 10px;
}

button {
	background-color: var(--pink);
	cursor: pointer;
	white-space: normal;
	letter-spacing: 0.25px;
	font-weight: 400;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	line-height: 1.5em;
	min-width: 5em;
}

button:hover {
	background-color: var(--lighter-pink);
	box-shadow: 0 1px 1px 0 var(--pink),
	0 1px 3px 1px var(--pink);
}

button:focus {
	outline: 2px solid var(--icon-main);
}

.btn-primary:hover {
	box-shadow: 0px 0px 5px 5px var(--shadow-color);
	transition: 250ms;
}

/* ==== End of General definitions ==== */

/* ==== Central content component ==== */
.content {
	background-color: var(--body-color);
	width: 80%;
	box-shadow: 0px 0px 5px 5px var(--shadow-color);
	padding: 2em;
	border-radius: 3em;
}

#entry-icons {
	gap: 1em;
}

#admin-icons {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.admin-mode:hover {
	color: var(--orange);
}

.admin-mode:hover .admin-mode {
	color: var(--orange);
}

.admin-color {
	color: var(--orange);
}

#product-content {
	display: flex;
	justify-content: space-between;
	gap: 4em;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 2em;
	width: 80%;
}

/* ==== End of content component ==== */

/* ==== Banner definitions ==== */
#header-icons {
	gap: 2em;
}

.banner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	background-color: var(--banner-color);
	box-shadow: 0px 0px 5px 5px var(--shadow-color);
	padding: 1.5em;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.spin-hover:hover {
	animation-duration: 1s;
	animation-name: spin;
}

#atendimento {
	align-items: end;
}

/* ==== End of Banner definitions ==== */
.img-oculos{
	width: 200px;
	object-fit: contain;
}

.info-oculos{
	flex: 2;
	margin: 0 50px;
}

.info-oculos h3{
	padding-bottom: 15px;
}

.pagamento{
	padding: 20px 0;
	flex: 1;
	text-align: center;
}

.side-menu{
	padding: 1em;
	border-right: 2px solid var(--pink);
}

.vertical-padding-10{
	padding: 10px 0;
}

.category-link, .category-link:focus, .category-link:hover, .category-link:visited, .category-link:link, .category-link:active{
	text-decoration: none;
}

.category-link:hover{
	color:#dbdbdb;
	filter: brightness(0.1);
	transition: filter 0.6s;
}

.category-bold{
	font-weight: bolder;
}

.user-entry {
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	padding: 20px auto;
}

/* ==== Start of EditableList ==== */
.editable-list {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 2em 0 2em;
}

.editable-list-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 0px 5px 5px var(--shadow-color);
	border-radius: 1em;
}

.editable-list-img {
	width: var(--img-width);
	height: var(--img-height);
	padding: 0.5em;
	border-radius: 1em;
}
/* ==== End of EditableList ==== */

/* ==== Start of Cart ==== */
.number-btns-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 3em;
}

.number-btns-div input {
	width: 100%;
	border-radius: 1em;
	padding: 0.5em;
	text-align: right;
	appearance: textfield;
}
/* ==== End of Cart ==== */

/* ==== Start of ValidatedInput ==== */
.hidden {
	display: hidden;
}

.custom-field {
	position: relative;
	border-top: 20px solid transparent;
	margin-bottom: 5px;
	--field-padding: 12px;
	--font-size: 14px;
	font-size: var(--font-size);
}
  
.custom-field input, .custom-field select {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background: var(--body-color);
	padding: var(--field-padding);
	border-radius: 1em;
	width: 100%;
	font-size: 14px;
}

.custom-field .placeholder {
	position: absolute;
	left: var(--field-padding);
	top: 22px;
	line-height: 100%;
	transform: translateY(-50%);

	width: calc(100% - (var(--field-padding) * 2));
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	transition: 
	top 0.3s ease,
	color 0.3s ease,
	font-size 0.3s ease;

	color: var(--shadow-color);
}

.custom-field input, .custom-field select {
	background: none;
	border: 2px solid var(--shadow-color);
	transition: border-color 0.3s ease;
}
  
.custom-field input + .placeholder,
.custom-field select + .placeholder {
	left: 8px;
	padding: 0 5px;
}
  
.custom-field input:not(:placeholder-shown),
.custom-field input:focus,
.custom-field select {
	border-color: var(--border-black);
	transition-delay: 0.1s
}
  
.custom-field input:not(:placeholder-shown) + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field select + .placeholder {
	top: 0;
	color: var(--border-black);
	background: var(--body-color);
	width: auto;
	height: calc(var(--font-size) + 2px);
}

.custom-field input.valid, .custom-field select.valid {
	border-color: var(--icon-ok);
	transition-delay: 0.1s
}
  
.custom-field input.valid + .placeholder,
.custom-field select.valid + .placeholder {
	top: 0;
	color: var(--icon-ok);
	background: var(--body-color);
	width: auto;
}

.custom-field input.invalid {
	border-color: var(--icon-bad);
	transition-delay: 0.1s
}
  
.custom-field input.invalid + .placeholder {
	top: 0;
	color: var(--icon-bad);
	background: var(--body-color);
	width: auto
}

.custom-field .error-message {
	padding: 0 var(--field-padding);
	color: var(--icon-bad);
}
  
.custom-field .error-message:empty {
	opacity: 0;
}
/* ==== End of ValidatedInput ==== */

/* ==== Start of Glasses ==== */
.card {
    overflow: hidden;
    position: relative;
    height: 280px;
    width: 320px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.card > figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card > figure > img {
    width: 100%;
}

.details {
    background-color: var(--detail-color);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 50%;
}


.details > .min-details,
.details > .options,
.details > .options > .options-size,
.details > .options > .options-colors {
    margin-bottom: 20px;
}

.details > .min-details {
    display: flex;
    justify-content: space-between;
}

.details > .min-details > h1 > span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

/* ==== End of Glasses ==== */
